.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 80px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}


.first {

     /* Establish the structure of the first box*/

   display: flex;
   background-color: black;
   align-items: center;
   justify-content: space-between;
   color: white;
    padding: 80px;

}


.first-left {

     /* Establish the style of the left side of the box*/

     max-width: 500px;

}

.first-left h1 {

    /* Establish the style of header*/

    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px

}

.first-left button {

    background-color: rgb(30, 154, 196);
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointe

}




.first-right {

    max-width: 250px;
    color: black;
    align-items: center;
}

.first-right div {

    display: flex;
    background-color: white;
    height: 150px;
    
    
}



.second{

   display: flex;
   align-items: center;
   background-color: white;
   justify-content: space-between;
   padding:80px

}


.second-container {

    display: flex;
    border: 4px solid blue;
    
}