
.container {

    display: flex;

    justify-content: space-evenly;

    border: 48px solid black;
}



.box{

    font-size: 48px;
}

#box1 {

    background-color: blue;
}

#box2 {

    background-color: yellow;
}

#box3 {

    background-color: red;
}